.table-breakpoints {
  table-layout: fixed
}

.table-breakpoints tr th:nth-child(1) {
  width: 300px;
  table-layout: fixed;
  overflow: hidden;
  word-wrap: break-word;
}

.table-breakpoints tr th:nth-child(2) {
  width: 300px;
  table-layout: fixed;
  overflow: hidden;
  word-wrap: break-word;
}
/*# sourceMappingURL=style.css.map */
