<template>
  <div>
    <input class="form-text" type="text" v-model="animationDelay" size="4" />
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'animationDelay',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    animationDelay: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      this.animationDelay = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    animationDelay: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.animationDelay);
    },
  },
};
</script>
