<template>
  <div>
    <textarea class="form-text" v-model="animation" rows="2" cols="50"></textarea>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'animation',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    animation: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      this.animation = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    animation: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.animation);
    },
  },
};
</script>
