<template>
  <div>
    <select v-model="backgroundPositionX" :name="name">
      <option v-for="(value, index) in items" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'backgroundPositionX',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    items: ['center', 'top', 'left', 'bottom', 'right', 'inherit', 'initial'],
    backgroundPositionX: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      this.backgroundPositionX = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    backgroundPositionX: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.backgroundPositionX);
    },
  },
};
</script>
