<template>
  <div>
    <div>
      <select v-model="backgroundPosition1" :name="name">
        <option v-for="(value, index) in items" :key="index" :value="value">{{ value }}</option>
      </select>
    </div>

    <div>
      <select v-model="backgroundPosition2" :name="name">
        <option v-for="(value, index) in items2" :key="index" :value="value">{{ value }}</option>
      </select>
    </div>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'backgroundPosition',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    items: ['center', 'top', 'left', 'bottom', 'right', 'inherit', 'initial'],
    items2: ['center', 'top', 'left', 'bottom', 'right', 'inherit', 'initial'],
    backgroundPosition1: '',
    backgroundPosition2: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const background_position = this.handlerGetValue(
        this.break_point,
        this.state,
        this.property,
      ).split(' ');

      if (background_position) {
        if (background_position.length == 2) {
          this.backgroundPosition1 = background_position[0];
          this.backgroundPosition2 = background_position[1];
        }
      }
    },
  },
  watch: {
    backgroundPosition1: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.backgroundPosition1 + ' ' + this.backgroundPosition2,
      );
    },
    backgroundPosition2: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.backgroundPosition1 + ' ' + this.backgroundPosition2,
      );
    },
  },
};
</script>
