<template>
  <div>
    <select v-model="image" :name="name">
      <option v-for="(value, index) in images" :key="index" :value="value.id">
        {{ value.url.split('/').pop() }}
      </option>
    </select>
    <select v-model="image_style" :name="name">
      <option v-for="(value, index) in image_styles" :key="index" :value="value.machine_name">
        {{ value.name }}
      </option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'backgroundImage',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerSetValue',
    'handlerGetValue',
    'handlerGetGlobalProperty',
    'handlerSetGlobalProperty',
    'handlerGetGlobal',
  ],
  data: () => ({
    image: '',
    images: [],
    image_styles: [],
    image_style: '',
    value: {},
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      let value = this.handlerGetValue(this.break_point, this.state, this.property);
      this.images = this.handlerGetGlobalProperty('images');
      this.image_styles = this.handlerGetGlobal('image_style');

      if (value['image_style']) {
        this.image_style = value['image_style'];
      }

      if (value['image']) {
        this.image = value['image'];
      }
    },
    getValue() {
      return {
        image: this.image,
        image_style: this.image_style,
      };
    },
  },
  watch: {
    image: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.getValue());
    },
    image_style: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.getValue());
    },
  },
};
</script>
