<template>
  <div>
    <input class="form-text" type="text" v-model="color" />
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'backgroundColor',
  props: ['name', 'property', 'state', 'break_point', 'handlerSetValue', 'handlerGetValue'],
  data: () => ({
    color: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      this.color = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    color: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.color);
    },
  },
};
</script>
