<template>
  <div>
    <select v-model="borderBottomStyle" :name="name">
      <option v-for="(value, index) in styleType" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'borderBottomStyle',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    styleType: [
      'none',
      'hidden',
      'dotted',
      'dashed',
      'solid',
      'double',
      'groove',
      'ridge',
      'inset',
      'outset',
      'inherit',
      'initial',
    ],
    borderBottomStyle: 'none',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      this.borderBottomStyle = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    borderBottomStyle: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.borderBottomStyle);
    },
  },
};
</script>
