<template>
  <div>
    <div>
      <input v-model="border_px" size="2" class="form-text" />
    </div>
    <div>
      <select v-model="border_type" :name="name">
        <option v-for="(value, index) in type" :key="index" :value="value">{{ value }}</option>
      </select>
    </div>

    <div>
      <select v-model="border_style" :name="name">
        <option v-for="(value, index) in style" :key="index" :value="value">{{ value }}</option>
      </select>
    </div>
    <div>
      <input class="form-text" type="text" v-model="color" />
    </div>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'borderRight',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    style: [
      'none',
      'hidden',
      'dotted',
      'dashed',
      'solid',
      'double',
      'groove',
      'ridge',
      'inset',
      'outset',
      'inherit',
      'initial',
    ],
    type: CSS_TYPE_SIZES,
    color: '#1976D2FF',
    menu: false,
    border_px: '',
    border_type: '',
    border_style: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      let border = this.handlerGetValue(this.break_point, this.state, this.property);
      border = border.split(' ');

      const size = this.handlerGetValue(this.break_point, this.state, this.property);
      if (size) {
        var px = size.replace(CSS_TYPE_SIZES_REGEX, '');
        if (px) {
          this.border = Number(px);
        }
        this.border_px = size.replace(/[0-9]/g, '');
      }

      this.border_type = border[1];
      this.color = border[2];
    },
  },
  watch: {
    border_style: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.border_px + this.border_type + this.border_style + this.color,
      );
    },
    border_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.border_px + this.border_type + this.border_style + this.color,
      );
    },
    border_type: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.border_px + this.border_type + this.border_style + this.color,
      );
    },
    color: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.border_px + this.border_type + this.border_style + this.color,
      );
    },
  },
};
</script>
