<template>
  <div>
    <select v-model="borderStyle_1" :name="name">
      <option v-for="(value, index) in styleType" :key="index" :value="value">{{ value }}</option>
    </select>

    <select v-model="borderStyle_2" :name="name">
      <option v-for="(value, index) in styleType" :key="index" :value="value">{{ value }}</option>
    </select>

    <select v-model="borderStyle_3" :name="name">
      <option v-for="(value, index) in styleType" :key="index" :value="value">{{ value }}</option>
    </select>

    <select v-model="borderStyle_4" :name="name">
      <option v-for="(value, index) in styleType" :key="index" :value="value">{{ value }}</option>
    </select>

    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'borderStyle',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    styleType: [
      'none',
      'hidden',
      'dotted',
      'dashed',
      'solid',
      'double',
      'groove',
      'ridge',
      'inset',
      'outset',
      'inherit',
      'initial',
    ],
    borderStyle: 'none',
    borderStyle_1: '',
    borderStyle_2: '',
    borderStyle_3: '',
    borderStyle_4: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      this.borderStyle = this.handlerGetValue(this.break_point, this.state, this.property);
      const borderStyle = this.borderStyle.split(' ');
      if (borderStyle) {
        if (borderStyle.length) {
          if (borderStyle[0]) {
            this.borderStyle_1 = borderStyle[0];
          }
          if (borderStyle[1]) {
            this.borderStyle_2 = borderStyle[1];
          }
          if (borderStyle[2]) {
            this.borderStyle_3 = borderStyle[2];
          }
          if (borderStyle[3]) {
            this.borderStyle_4 = borderStyle[3];
          }
        }
      }
    },
  },
  watch: {
    borderStyle_1: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderStyle_1 +
          ' ' +
          this.borderStyle_2 +
          ' ' +
          this.borderStyle_3 +
          ' ' +
          this.borderStyle_4,
      );
    },
    borderStyle_2: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderStyle_1 +
          ' ' +
          this.borderStyle_2 +
          ' ' +
          this.borderStyle_3 +
          ' ' +
          this.borderStyle_4,
      );
    },
    borderStyle_3: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderStyle_1 +
          ' ' +
          this.borderStyle_2 +
          ' ' +
          this.borderStyle_3 +
          ' ' +
          this.borderStyle_4,
      );
    },
    borderStyle_4: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderStyle_1 +
          ' ' +
          this.borderStyle_2 +
          ' ' +
          this.borderStyle_3 +
          ' ' +
          this.borderStyle_4,
      );
    },
  },
};
</script>
