<template>
  <div>
    <input v-model="borderTopWidth_" size="2" class="form-text" />

    <select v-model="borderTopWidth_px" :name="name">
      <option v-for="(value, index) in widthType" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'borderTopWidth',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    widthType: CSS_TYPE_SIZES,
    borderTopWidth_: '',
    borderTopWidth_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const border_top_width = this.handlerGetValue(this.break_point, this.state, this.property);

      this.borderTopWidth_ =
        border_top_width.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(border_top_width.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.borderTopWidth_px = border_top_width.replace(/[0-9]/g, '');
    },
  },
  watch: {
    borderTopWidth_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderTopWidth_ + this.borderTopWidth_px,
      );
    },
    borderTopWidth_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderTopWidth_ + this.borderTopWidth_px,
      );
    },
  },
};
</script>
