<template>
  <div>
    <div>
      <input v-model="borderBottomWidth_" size="2" class="form-text" />
    </div>

    <div>
      <select v-model="borderBottomWidth_px" :name="name">
        <option v-for="(value, index) in widthType" :key="index" :value="value">{{ value }}</option>
      </select>
    </div>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'borderBottomWidth',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    widthType: CSS_TYPE_SIZES,
    borderBottomWidth_: '',
    borderBottomWidth_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const border_bottom_width = this.handlerGetValue(this.break_point, this.state, this.property);

      this.borderBottomWidth_ =
        border_bottom_width.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(border_bottom_width.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.borderBottomWidth_px = border_bottom_width.replace(/[0-9]/g, '');
    },
  },
  watch: {
    borderBottomWidth_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderBottomWidth_ + this.borderBottomWidth_px,
      );
    },
    borderBottomWidth_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderBottomWidth_ + this.borderBottomWidth_px,
      );
    },
  },
};
</script>
