<template>
  <div>
    <div>
      <input v-model="borderRadius_" size="2" class="form-text" />
    </div>

    <div>
      <select v-model="borderRadius_px" :name="name">
        <option v-for="(value, index) in widthType" :key="index" :value="value">{{ value }}</option>
      </select>
    </div>

    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'borderRadius',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    widthType: CSS_TYPE_SIZES,
    borderRadius_: '',
    borderRadius_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const border_radius = this.handlerGetValue(this.break_point, this.state, this.property);

      this.borderRadius_ =
        border_radius.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(border_radius.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.borderRadius_px = border_radius.replace(/[0-9]/g, '');
    },
  },
  watch: {
    borderRadius_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderRadius_ + this.borderRadius_px,
      );
    },
    borderRadius_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderRadius_ + this.borderRadius_px,
      );
    },
  },
};
</script>
