<template>
  <div>
    <input v-model="borderRightWidth_" size="2" class="form-text" />

    <select v-model="borderRightWidth_px" :name="name">
      <option v-for="(value, index) in widthType" :key="index" :value="value">{{ value }}</option>
    </select>

    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'borderRightWidth',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    widthType: CSS_TYPE_SIZES,
    borderRightWidth_: '',
    borderRightWidth_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const border_right_width = this.handlerGetValue(this.break_point, this.state, this.property);

      this.borderRightWidth_ =
        border_right_width.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(border_right_width.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.borderRightWidth_px = border_right_width.replace(/[0-9]/g, '');
    },
  },
  watch: {
    borderRightWidth_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderRightWidth_ + this.borderRightWidth_px,
      );
    },
    borderRightWidth_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.borderRightWidth_ + this.borderRightWidth_px,
      );
    },
  },
};
</script>
