<template>
  <div>
    <select v-model="cursor" :name="name">
      <option v-for="(value, index) in items" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'cursor',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    items: [
      'auto',
      'default',
      'none',
      'context-menu',
      'help',
      'pointer',
      'progress',
      'wait',
      'cell',
      'crosshair',
      'text',
      'vertical-text',
      'alias',
      'copy',
      'move',
      'no-drop',
      'not-allowed',
      'grab',
      'grabbing',
      'e-resize',
      'n-resize',
      'ne-resize',
      'nw-resize',
      's-resize',
      'se-resize',
      'sw-resize',
      'w-resize',
      'ew-resize',
      'ns-resize',
      'nesw-resize',
      'nwse-resize',
      'col-resize',
      'row-resize',
      'all-scroll',
      'zoom-in',
      'zoom-out',
      'initial',
      'inherit',
    ],
    cursor: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      this.cursor = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    cursor: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.cursor);
    },
  },
};
</script>
