<template>
  <div>
    <select v-model="fontWeight" :name="name">
      <option v-for="(value, index) in options" :key="index" :value="value">
        {{ value }}
      </option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
import EventBus from '../../event-bus';
export default {
  name: 'fontWeight',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'dataInputParameters',
    'value',
  ],
  data: () => ({
    fontWeight: '',
    toggle: 0,
    options: [],
  }),
  mounted() {
    EventBus.$on('fontFamily', (p) => {
      this.loadFonts();
    });
    EventBus.$on('fontWeight', (p) => {
      this.loadFonts();
    });
  },
  beforeMount() {
    this.loadFonts();
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    loadFonts() {
      const fontWeight_items_ = [''];
      if (this.dataInputParameters.google_fonts) {
        if (this.handlerGetValue(this.break_point, this.state, 'fontFamily')) {
          const family = this.handlerGetValue(this.break_point, this.state, 'fontFamily');
          if (this.dataInputParameters.google_fonts) {
            for (let i in this.dataInputParameters.google_fonts) {
              if (this.dataInputParameters.google_fonts[i].family == family) {
                for (let name in this.dataInputParameters.google_fonts[i].variants) {
                  if (
                    fontWeight_items_.indexOf(
                      this.dataInputParameters.google_fonts[i].variants[name].replace('italic', ''),
                    ) === -1
                  ) {
                    fontWeight_items_.push(this.dataInputParameters.google_fonts[i].variants[name].replace('italic', ''));
                  }
                }
              }
            }
          }
        }
      }
      fontWeight_items_.push('initial');
      fontWeight_items_.push('inherit');
      fontWeight_items_.push('unset');

      this.options = fontWeight_items_.sort();
    },
    setValue() {
      this.fontWeight = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    fontWeight: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, val);
    },
  },
};
</script>
