<template>
  <div>
    <label
      :for="break_point + '_' + state + '_' + property + '_' + 'regular'"
      v-if="fontStyle_items_.indexOf('regular') !== -1"
    >
      <input
        :id="break_point + '_' + state + '_' + property + '_' + 'regular'"
        type="radio"
        v-model="fontStyle"
        value="regular"
        checked
      />regular
    </label>
    <label
      :for="break_point + '_' + state + '_' + property + '_' + 'italic'"
      v-if="fontStyle_items_.indexOf('italic') !== -1"
    >
      <input
        :id="break_point + '_' + state + '_' + property + '_' + 'italic'"
        type="radio"
        v-model="fontStyle"
        value="italic"
      />italic
    </label>
    <label
      :for="break_point + '_' + state + '_' + property + '_' + 'normal'"
      v-if="fontStyle_items_.indexOf('normal') !== -1"
    >
      <input
        :id="break_point + '_' + state + '_' + property + '_' + 'normal'"
        type="radio"
        v-model="fontStyle"
        value="normal"
      />normal
    </label>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
label {
  display: flex !important;
  align-items: center;
  input {
    margin-right: 5px;
  }
}
</style>
<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
import EventBus from '../../event-bus';

export default {
  name: 'textAlign',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'dataInputParameters',
  ],
  data: () => ({
    fontStyle: '',
    fontStyle_items_: [],
  }),
  mounted() {
    EventBus.$on('fontWeight', (p) => {
      this.loadFonts();
    });
  },
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    loadFonts() {
      const fontStyle_items_ = [''];
      fontStyle_items_.push('normal');
      if (this.dataInputParameters.google_fonts) {
        if (this.handlerGetValue(this.break_point, this.state, 'fontFamily')) {
          const family = this.handlerGetValue(this.break_point, this.state, 'fontFamily');
          if (this.dataInputParameters.google_fonts) {
            for (let i in this.dataInputParameters.google_fonts) {
              if (this.dataInputParameters.google_fonts[i].family == family) {
                for (let name in this.dataInputParameters.google_fonts[i].variants) {
                  if (
                    this.dataInputParameters.google_fonts[i].variants[name].indexOf('italic') !==
                      -1 &&
                    fontStyle_items_.indexOf('italic') === -1
                  ) {
                    fontStyle_items_.push('italic');
                  }
                  if (
                    this.dataInputParameters.google_fonts[i].variants[name].indexOf('regular') !==
                      -1 &&
                    fontStyle_items_.indexOf('regular') === -1
                  ) {
                    fontStyle_items_.push('regular');
                  }
                }
              }
            }
          }
        }
      }
      this.fontStyle_items_ = fontStyle_items_;
    },
    setValue() {
      if (this.dataInputParameters.google_font_family) {
        if (this.handlerGetValue(this.break_point, this.state, 'fontFamily')) {
          const family = this.handlerGetValue(this.break_point, this.state, 'fontFamily');
          if (this.dataInputParameters.google_font_family[family]) {
            for (let name in this.dataInputParameters.google_font_family[family]['variants']) {
              if (this.fontStyle_items.indexOf('italic') === -1 && name.indexOf('italic') >= 0) {
                this.fontStyle_items.push('italic');
              }
              if (this.fontStyle_items.indexOf('regular') === -1 && name.indexOf('regular') >= 0) {
                this.fontStyle_items.push('regular');
              }
            }
          }
        }
      }

      this.fontStyle = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    fontStyle: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.fontStyle);
    },
  },
};
</script>
