<template>
  <div>
    <select v-model="fontFamily" :name="name">
      <option v-for="(value, index) in items" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'fontFamily',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerSetValue',
    'handlerGetValue',
    'dataInputParameters',
  ],
  data: () => ({
    fontFamily: '',
    items: [''],
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      let items = [];
      for (let i in this.dataInputParameters.google_fonts) {
        items.push(this.dataInputParameters.google_fonts[i]['family']);
      }

      this.items = items;
      this.fontFamily = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    fontFamily: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, val);
    },
  },
};
</script>
