<template>
  <div>
    <input v-model="height_" size="2" class="form-text" />

    <select v-model="height_px" :name="name">
      <option v-for="(value, index) in heightType" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'height',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    heightType: CSS_TYPE_SIZES,
    height_: '',
    height_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const height = this.handlerGetValue(this.break_point, this.state, this.property);
      this.height_ =
        height.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(height.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.height_px = height.replace(/[0-9]/g, '');
    },
  },
  watch: {
    height_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.height_ + this.height_px,
      );
    },
    height_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.height_ + this.height_px,
      );
    },
  },
};
</script>
