<template>
  <div>
    <input v-model="left_" size="2" class="form-text" />
    <select v-model="left_px">
      <option v-for="(value, index) in fontType" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'left',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    fontType: CSS_TYPE_SIZES,
    left_: '',
    left_px: '',
  }),
  mounted() {},
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const font_size_value = this.handlerGetValue(this.break_point, this.state, this.property);
      if (font_size_value) {
        var px = font_size_value.replace(CSS_TYPE_SIZES_REGEX, '');
        if (px) {
          this.left_ = Number(px);
        }
        this.left_px = font_size_value.replace(/[0-9]/g, '');
      }
    },
  },
  watch: {
    left_: function (val) {
      var val = this.left_ + this.left_px;
      this.handlerSetValue(this.break_point, this.state, this.property, val);
    },
    left_px: function (val) {
      var val = this.left_ + this.left_px;
      this.handlerSetValue(this.break_point, this.state, this.property, val);
    },
  },
};
</script>
