<template>
  <div>
    <input v-model="LetterSpacing_" size="2" class="form-text" />

    <select v-model="LetterSpacing_px" :name="name">
      <option v-for="(value, index) in LetterSpacingType" :key="index" :value="value">
        {{ value }}
      </option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'LetterSpacing',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    LetterSpacingType: CSS_TYPE_SIZES,
    LetterSpacing_: '',
    LetterSpacing_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const letter_spacing = this.handlerGetValue(this.break_point, this.state, this.property);
      this.LetterSpacing_ =
        letter_spacing.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(letter_spacing.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.LetterSpacing_px = letter_spacing.replace(/[0-9]/g, '');
    },
  },
  watch: {
    LetterSpacing_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.LetterSpacing_ + this.LetterSpacing_px,
      );
    },
    LetterSpacing_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.LetterSpacing_ + this.LetterSpacing_px,
      );
    },
  },
};
</script>
