<template>
  <div>
    <input v-model="lineHeight_" size="2" class="form-text" />

    <select v-model="lineHeight_px" :name="name">
      <option v-for="(value, index) in lineHeightType" :key="index" :value="value">
        {{ value }}
      </option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'fontSize',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    lineHeightType: CSS_TYPE_SIZES,
    lineHeight_: '',
    lineHeight_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const line_height = this.handlerGetValue(this.break_point, this.state, this.property);
      this.lineHeight_ =
        line_height.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(line_height.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.lineHeight_px = line_height.replace(/[0-9]/g, '');
    },
  },
  watch: {
    lineHeight_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.lineHeight_ + this.lineHeight_px,
      );
    },
    lineHeight_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.lineHeight_ + this.lineHeight_px,
      );
    },
  },
};
</script>
