<template>
  <div>
    <input v-model="marginBottom_" size="2" class="form-text" />

    <select v-model="marginBottom_px" :name="name">
      <option v-for="(value, index) in type" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'marginBottom',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    row: '1',

    type: CSS_TYPE_SIZES,
    marginBottom_: '',
    marginBottom_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const margin_bottom_value = this.handlerGetValue(this.break_point, this.state, this.property);

      this.marginBottom_ =
        margin_bottom_value.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(margin_bottom_value.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.marginBottom_px = margin_bottom_value.replace(/[0-9]/g, '');
    },
  },
  watch: {
    marginBottom_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.marginBottom_ + this.marginBottom_px,
      );
    },
    marginBottom_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.marginBottom_ + this.marginBottom_px,
      );
    },
  },
};
</script>
