<template>
  <div>
    <input v-model="maxHeight_" size="2" class="form-text" />

    <select v-model="maxHeight_px" :name="name">
      <option v-for="(value, index) in maxHeightType" :key="index" :value="value">
        {{ value }}
      </option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'maxHeight',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    maxHeightType: CSS_TYPE_SIZES,
    maxHeight_: '',
    maxHeight_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const maxHeight = this.handlerGetValue(this.break_point, this.state, this.property);
      this.maxHeight_ =
        maxHeight.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(maxHeight.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.maxHeight_px = maxHeight.replace(/[0-9]/g, '');
    },
  },
  watch: {
    maxHeight_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.maxHeight_ + this.maxHeight_px,
      );
    },
    maxHeight_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.maxHeight_ + this.maxHeight_px,
      );
    },
  },
};
</script>
