<template>
  <div>
    <input v-model="minHeight_" size="2" class="form-text" />

    <select v-model="minHeight_px" :name="name">
      <option v-for="(value, index) in minHeightType" :key="index" :value="value">
        {{ value }}
      </option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'minHeight',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    minHeightType: CSS_TYPE_SIZES,
    minHeight_: '',
    minHeight_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const minHeight = this.handlerGetValue(this.break_point, this.state, this.property);
      this.minHeight_ =
        minHeight.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(minHeight.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.minHeight_px = minHeight.replace(/[0-9]/g, '');
    },
  },
  watch: {
    minHeight_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.minHeight_ + this.minHeight_px,
      );
    },
    minHeight_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.minHeight_ + this.minHeight_px,
      );
    },
  },
};
</script>
