<template>
  <div>
    <input v-model="minWidth_" size="2" class="form-text" />

    <select v-model="minWidth_px" :name="name">
      <option v-for="(value, index) in minWidthType" :key="index" :value="value">
        {{ value }}
      </option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'minWidth',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    minWidthType: CSS_TYPE_SIZES,
    minWidth_: '',
    minWidth_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const min_width = this.handlerGetValue(this.break_point, this.state, this.property);
      this.minWidth_ =
        min_width.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(min_width.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.minWidth_px = min_width.replace(/[0-9]/g, '');
    },
  },
  watch: {
    minWidth_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.minWidth_ + this.minWidth_px,
      );
    },
    minWidth_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.minWidth_ + this.minWidth_px,
      );
    },
  },
};
</script>
