<template>
  <div>
    <input v-model="paddingBottom_" size="2" class="form-text" />

    <select v-model="paddingBottom_px" :name="name">
      <option v-for="(value, index) in type" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'paddingBottom',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    row: '1',

    type: CSS_TYPE_SIZES,
    paddingBottom_: '',
    paddingBottom_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const padding_bottom_value = this.handlerGetValue(
        this.break_point,
        this.state,
        this.property,
      );

      this.paddingBottom_ =
        padding_bottom_value.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(padding_bottom_value.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.paddingBottom_px = padding_bottom_value.replace(/[0-9]/g, '');
    },
  },
  watch: {
    paddingBottom_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.paddingBottom_ + this.paddingBottom_px,
      );
    },
    paddingBottom_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.paddingBottom_ + this.paddingBottom_px,
      );
    },
  },
};
</script>
