<template>
  <div>
    <input v-model="paddingTop_" size="2" class="form-text" />

    <select v-model="paddingTop_px" :name="name">
      <option v-for="(value, index) in type" :key="index" :value="value">{{ value }}</option>
    </select>

    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'paddingTop',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    type: CSS_TYPE_SIZES,
    paddingTop_: '',
    paddingTop_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const padding_top_value = this.handlerGetValue(this.break_point, this.state, this.property);

      this.paddingTop_ =
        padding_top_value.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(padding_top_value.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.paddingTop_px = padding_top_value.replace(/[0-9]/g, '');
    },
  },
  watch: {
    paddingTop_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.paddingTop_ + this.paddingTop_px,
      );
    },
    paddingTop_px: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.paddingTop);
    },
  },
};
</script>
