<template>
  <div>
    <input v-model="paddingRight_" size="2" class="form-text" />

    <select v-model="paddingRight_px" :name="name">
      <option v-for="(value, index) in type" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'paddingRight',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    type: CSS_TYPE_SIZES,
    paddingRight_: '',
    paddingRight_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const padding_right_value = this.handlerGetValue(this.break_point, this.state, this.property);

      this.paddingRight_ =
        padding_right_value.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(padding_right_value.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.paddingRight_px = padding_right_value.replace(/[0-9]/g, '');
    },
  },
  watch: {
    paddingRight_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.paddingRight_ + this.paddingRight_px,
      );
    },
    paddingRight_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.paddingRight_ + this.paddingRight_px,
      );
    },
  },
};
</script>
