<template>
  <div>
    <label :for="break_point + '_' + state + '_' + property + '_' + 'left'">
      <input
        :id="break_point + '_' + state + '_' + property + '_' + 'left'"
        type="radio"
        v-model="textAlignLast"
        value="left"
        checked=""
      />left
    </label>
    <label :for="break_point + '_' + state + '_' + property + '_' + 'center'">
      <input
        :id="break_point + '_' + state + '_' + property + '_' + 'center'"
        type="radio"
        v-model="textAlignLast"
        value="center"
      />center
    </label>
    <label :for="break_point + '_' + state + '_' + property + '_' + 'right'">
      <input
        :id="break_point + '_' + state + '_' + property + '_' + 'right'"
        type="radio"
        v-model="textAlignLast"
        value="right"
      />right
    </label>
    <label :for="break_point + '_' + state + '_' + property + '_' + 'justify'">
      <input
        :id="break_point + '_' + state + '_' + property + '_' + 'justify'"
        type="radio"
        v-model="textAlignLast"
        value="justify"
      />justify
    </label>
    <label :for="break_point + '_' + state + '_' + property + '_' + 'initial'">
      <input
        :id="break_point + '_' + state + '_' + property + '_' + 'initial'"
        type="radio"
        v-model="textAlignLast"
        value="initial"
      />initial
    </label>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>
<style lang="scss" scoped>
label {
  display: flex !important;
  align-items: center;
  input {
    margin-right: 5px;
  }
}
</style>
<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'textAlignLast',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    textAlignLast: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      this.textAlignLast = this.handlerGetValue(this.break_point, this.state, this.property);
    },
  },
  watch: {
    textAlignLast: function (val) {
      this.handlerSetValue(this.break_point, this.state, this.property, this.textAlignLast);
    },
  },
};
</script>
