<template>
  <div>
    <input v-model="textIndent_" size="2" class="form-text" />

    <select v-model="textIndent_px" :name="name">
      <option v-for="(value, index) in fontType" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';
export default {
  name: 'textIndent',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    fontType: CSS_TYPE_SIZES,
    textIndent_: '',
    textIndent_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const textIntent = this.handlerGetValue(this.break_point, this.state, this.property);

      this.textIndent_ =
        textIntent.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(textIntent.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.textIndent_px = textIntent.replace(/[0-9]/g, '');
    },
  },
  watch: {
    textIndent_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.textIndent_ + this.textIndent_px,
      );
    },
    textIndent_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.textIndent_ + this.textIndent_px,
      );
    },
  },
};
</script>
