<template>
  <div>
    <input v-model="width_" size="2" class="form-text" />

    <select v-model="width_px" :name="name">
      <option v-for="(value, index) in widthType" :key="index" :value="value">{{ value }}</option>
    </select>
    <div class="link-documentation">
      <a :href="helpLink" target="_blank" title="Help Information">help</a>
    </div>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX, HELP_LINK } from '.@/settings.js';

export default {
  name: 'width',
  props: [
    'name',
    'property',
    'state',
    'break_point',
    'handlerGetValue',
    'handlerSetValue',
    'datainputparameters',
    'handlergetglobalproperty',
    'handlersetglobalproperty',
    'handlergetglobal',
  ],
  data: () => ({
    widthType: CSS_TYPE_SIZES,
    width_: '',
    width_px: '',
  }),
  beforeMount() {
    this.setValue();
    this.helpLink = HELP_LINK[this.property];
  },
  methods: {
    setValue() {
      const width = this.handlerGetValue(this.break_point, this.state, this.property);
      this.width_ =
        width.replace(CSS_TYPE_SIZES_REGEX, '') != ''
          ? Number(width.replace(CSS_TYPE_SIZES_REGEX, ''))
          : '';
      this.width_px = width.replace(/[0-9]/g, '');
    },
  },
  watch: {
    width_: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.width_ + this.width_px,
      );
    },
    width_px: function (val) {
      this.handlerSetValue(
        this.break_point,
        this.state,
        this.property,
        this.width_ + this.width_px,
      );
    },
  },
};
</script>
