<template>
  <div
    v-if="
      [
        'animation',
        'animationDelay',
        'animationDirection',
        'animationFillMode',
        'animationInterationCount',
        'animationName',
        'animationPlayState',
        'animationTimingFunction',
        'backfaceVisibility',
        'background',
        'backgroundAttachment',
        'backgroundClip',
        'backgroundOrigin',
        'boxShadow',
        'boxSizing',
        'flexDirection',
        'flexWrap',
        'justifyContent',
        'overflow',
        'overflowX',
        'overflowY',
        'textShadow',
        'transition',
        'transitionTimingFunction',
        'cursor',
        'alignContent',
        'alignItems',
        'alignSelf',
        'bottom',
        'display',
        'float',
        'left',
        'maxHeight',
        'maxWidth',
        'minHeight',
        'top',
        'order',
        'position',
        'verticalAlign',
        'visibility',
        'whiteSpace',
        'wordBreak',
        'wordSpacing',
        'wordWrap',
        'zIndex',
        'textDecorationColor',
        'letterSpacing',
        'textAlignLast',
        'textIndent',
        'lineHeight',
        'borderWidth',
        'borderRadius',
        'borderTopWidth',
        'borderBottomWidth',
        'borderLeftWidth',
        'borderRightWidth',
        'borderTop',
        'borderBottom',
        'borderLeft',
        'borderRight',
        'borderTopColor',
        'borderBottomColor',
        'borderLeftColor',
        'borderRightColor',
        'borderTopStyle',
        'borderRightStyle',
        'borderLeftStyle',
        'borderBottomStyle',
        'width',
        'height',
        'fontWeight',
        'border',
        'borderStyle',
        'borderColor',
        'margin',
        'padding',
        'fontFamily',
        'color',
        'backgroundColor',
        'fill',
        'paddingLeft',
        'paddingRight',
        'paddingTop',
        'paddingBottom',
        'marginLeft',
        'marginRight',
        'marginTop',
        'marginBottom',
        'textAlign',
        'fontStyle',
        'fontSize',
        'textTransform',
        'textDecoration',
        'backgroundSize',
        'backgroundImage',
        'backgroundPosition',
        'backgroundPositionX',
        'backgroundPositionY',
        'backgroundRepeat',
        'backgroundRepeatX',
        'backgroundRepeatY',
      ].indexOf(name) !== -1
    "
  >
    <component
      class="tab-wrapper"
      :is="name"
      :dataInputParameters="{
        google_fonts: global_settings.google_fonts ? global_settings.google_fonts : [],
      }"
      :handlerSetValue="handlerSetValue"
      :handlerGetValue="handlerGetValue"
      :handlerGetGlobalProperty="handlerGetGlobalProperty"
      :handlerSetGlobalProperty="handlerSetGlobalProperty"
      :handlerGetGlobal="handlerGetGlobal"
      :property="name"
      :break_point="break_point"
      :state="state"
    />
  </div>
</template>

<style lang="scss">
.tab-wrapper {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  & > * {
    margin: 0 6px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
<script>
import fontFamily from '.@/components/property/fontFamily';
import color from '.@/components/property/color';
import backgroundColor from '.@/components/property/backgroundColor';
import fill from '.@/components/property/fill';
import margin from '.@/components/property/margin';
import marginLeft from '.@/components/property/marginLeft';
import marginRight from '.@/components/property/marginRight';
import marginTop from '.@/components/property/marginTop';
import marginBottom from '.@/components/property/marginBottom';
import padding from '.@/components/property/padding';
import paddingLeft from '.@/components/property/paddingLeft';
import paddingRight from '.@/components/property/paddingRight';
import paddingTop from '.@/components/property/paddingTop';
import paddingBottom from '.@/components/property/paddingBottom';
import textAlign from '.@/components/property/textAlign';
import letterSpacing from '.@/components/property/letterSpacing';
import textAlignLast from '.@/components/property/textAlignLast';
import fontStyle from '.@/components/property/fontStyle';
import textIndent from '.@/components/property/textIndent';
import lineHeight from '.@/components/property/lineHeight';
import fontSize from '.@/components/property/fontSize';
import fontWeight from '.@/components/property/fontWeight';
import textTransform from '.@/components/property/textTransform';
import textDecoration from '.@/components/property/textDecoration';
import backgroundSize from '.@/components/property/backgroundSize';
import backgroundImage from '.@/components/property/backgroundImage';
import backgroundPosition from '.@/components/property/backgroundPosition';
import backgroundPositionX from '.@/components/property/backgroundPositionX';
import backgroundPositionY from '.@/components/property/backgroundPositionY';
import backgroundRepeat from '.@/components/property/backgroundRepeat';
import backgroundRepeatX from '.@/components/property/backgroundRepeatX';
import backgroundRepeatY from '.@/components/property/backgroundRepeatY';
import borderWidth from '.@/components/property/borderWidth';
import border from '.@/components/property/border';
import borderRadius from '.@/components/property/borderRadius';
import borderTopWidth from '.@/components/property/borderTopWidth';
import borderBottomWidth from '.@/components/property/borderBottomWidth';
import borderLeftWidth from '.@/components/property/borderLeftWidth';
import borderRightWidth from '.@/components/property/borderRightWidth';
import borderTop from '.@/components/property/borderTop';
import borderBottom from '.@/components/property/borderBottom';
import borderLeft from '.@/components/property/borderLeft';
import borderRight from '.@/components/property/borderRight';
import borderStyle from '.@/components/property/borderStyle';
import borderBottomStyle from '.@/components/property/borderBottomStyle';
import borderTopStyle from '.@/components/property/borderTopStyle';
import borderRightStyle from '.@/components/property/borderRightStyle';
import borderLeftStyle from '.@/components/property/borderLeftStyle';
import borderColor from '.@/components/property/borderColor';
import borderTopColor from '.@/components/property/borderTopColor';
import borderBottomColor from '.@/components/property/borderBottomColor';
import borderLeftColor from '.@/components/property/borderLeftColor';
import borderRightColor from '.@/components/property/borderRightColor';
import width from '.@/components/property/width';
import height from '.@/components/property/height';
import textDecorationColor from '.@/components/property/textDecorationColor';
import alignContent from '.@/components/property/alignContent';
import alignItems from '.@/components/property/alignItems';
import alignSelf from '.@/components/property/alignSelf';
import bottom from '.@/components/property/bottom';
import display from '.@/components/property/display';
import float from '.@/components/property/float';
import left from '.@/components/property/left';
import maxHeight from '.@/components/property/maxHeight';
import maxWidth from '.@/components/property/maxWidth';
import minHeight from '.@/components/property/minHeight';
import top from '.@/components/property/top';
import order from '.@/components/property/order';
import position from '.@/components/property/position';
import verticalAlign from '.@/components/property/verticalAlign';
import visibility from '.@/components/property/visibility';
import whiteSpace from '.@/components/property/whiteSpace';
import wordBreak from '.@/components/property/wordBreak';
import wordSpacing from '.@/components/property/wordSpacing';
import wordWrap from '.@/components/property/wordWrap';
import zIndex from '.@/components/property/zIndex';
import cursor from '.@/components/property/cursor';
import animation from '.@/components/property/animation';
import animationDelay from '.@/components/property/animationDelay';
import animationDirection from '.@/components/property/animationDirection';
import animationFillMode from '.@/components/property/animationFillMode';
import animationInterationCount from '.@/components/property/animationInterationCount';
import animationName from '.@/components/property/animationName';
import animationPlayState from '.@/components/property/animationPlayState';
import animationTimingFunction from '.@/components/property/animationTimingFunction';
import backfaceVisibility from '.@/components/property/backfaceVisibility';
import background from '.@/components/property/background';
import backgroundAttachment from '.@/components/property/backgroundAttachment';
import backgroundClip from '.@/components/property/backgroundClip';
import backgroundOrigin from '.@/components/property/backgroundOrigin';
import boxShadow from '.@/components/property/boxShadow';
import boxSizing from '.@/components/property/boxSizing';
import flexDirection from '.@/components/property/flexDirection';
import flexWrap from '.@/components/property/flexWrap';
import justifyContent from '.@/components/property/justifyContent';
import overflow from '.@/components/property/overflow';
import overflowX from '.@/components/property/overflowX';
import overflowY from '.@/components/property/overflowY';
import textShadow from '.@/components/property/textShadow';
import transition from '.@/components/property/transition';
import transitionTimingFunction from '.@/components/property/transitionTimingFunction';

export default {
  name: 'dynamic-property',
  components: {
    animation,
    animationDelay,
    animationDirection,
    animationFillMode,
    animationInterationCount,
    animationName,
    animationPlayState,
    animationTimingFunction,
    backfaceVisibility,
    background,
    backgroundAttachment,
    backgroundClip,
    backgroundOrigin,
    boxShadow,
    boxSizing,
    flexDirection,
    flexWrap,
    justifyContent,
    overflow,
    overflowX,
    overflowY,
    textShadow,
    transition,
    transitionTimingFunction,
    cursor,
    alignContent,
    alignItems,
    alignSelf,
    bottom,
    display,
    float,
    left,
    maxHeight,
    maxWidth,
    minHeight,
    top,
    order,
    position,
    verticalAlign,
    visibility,
    whiteSpace,
    wordBreak,
    wordSpacing,
    wordWrap,
    zIndex,
    fontFamily,
    color,
    backgroundColor,
    fill,
    marginLeft,
    marginRight,
    marginTop,
    marginBottom,
    paddingLeft,
    paddingRight,
    paddingTop,
    paddingBottom,
    textAlign,
    fontStyle,
    fontSize,
    textIndent,
    lineHeight,
    letterSpacing,
    textAlignLast,
    fontWeight,
    textTransform,
    textDecoration,
    backgroundSize,
    backgroundImage,
    backgroundPosition,
    backgroundPositionX,
    backgroundPositionY,
    backgroundRepeat,
    backgroundRepeatX,
    backgroundRepeatY,
    borderWidth,
    border,
    borderRadius,
    borderTopWidth,
    borderBottomWidth,
    borderLeftWidth,
    borderRightWidth,
    borderTop,
    borderBottom,
    borderLeft,
    borderRight,
    borderStyle,
    borderBottomStyle,
    borderTopStyle,
    borderRightStyle,
    borderLeftStyle,
    borderColor,
    borderTopColor,
    borderBottomColor,
    borderLeftColor,
    borderRightColor,
    margin,
    padding,
    width,
    height,
    textDecorationColor,
  },
  props: [
    'name',
    'state',
    'break_point',
    'global_settings',
    'handlerSetValue',
    'handlerGetValue',
    'handlerGetGlobalProperty',
    'handlerSetGlobalProperty',
    'handlerGetGlobal',
    'value',
  ],
};
</script>
