<template>
  <div>
    <div id="file-drag-drop">
      <form ref="fileform">
        <div class="uploaded-files">
          <div v-for="(src, index) in value" :key="index" class="uploaded-files-item">
            <img :src="src.url" width="40" alt="" />
            <button class="copy-to-clipboard" @click.prevent="copyURL(src.url, $event)">
              copy
            </button>
            <button type="button" @click="removeImage(src.id, index, $event)">remove</button>
          </div>
        </div>
        <span class="drop-files">Drop the files here!</span>
      </form>
      <progress max="100" :value.prop="uploadPercentage" v-if="uploadPercentage"></progress>
    </div>
  </div>
</template>


<style lang="scss" scoped>
#file-drag-drop {
  position: relative;
}
.uploaded-files {
  display: flex;
  &-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    img {
      width: 150px;
    }
  }
}

form {
  display: block;
  min-height: 100px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
}

.drop-files {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
div.file-listing {
  width: 100px;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
div.file-listing img {
  height: 100px;
}
div.remove-container {
  text-align: center;
}
div.remove-container a {
  color: red;
  cursor: pointer;
}

a.submit-button {
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
  padding: 10px;
  text-transform: uppercase;
  background-color: #ccc;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.progress {
  width: 100px;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>

<script>
//https://serversideup.net/drag-and-drop-file-uploads-with-vuejs-and-axios/

const axios = require('axios');
export default {
  props: ['handlerGetGlobalProperty', 'handlerSetGlobalProperty'],
  data() {
    return {
      dragAndDropCapable: false,
      files: [],
      uploadPercentage: 0,
      value: [],
    };
  },
  beforeMount() {
    this.value = this.handlerGetGlobalProperty('images') || [];
  },
  mounted() {
    this.dragAndDropCapable = this.determineDragAndDropCapable();
    if (this.dragAndDropCapable) {
      ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(
        function (evt) {
          this.$refs.fileform.addEventListener(
            evt,
            function (e) {
              e.preventDefault();
              e.stopPropagation();
            }.bind(this),
            false,
          );
        }.bind(this),
      );
      this.$refs.fileform.addEventListener(
        'drop',
        function (e) {
          for (let i = 0; i < e.dataTransfer.files.length; i++) {
            this.files.push(e.dataTransfer.files[i]);
          }

          this.submitFiles();
        }.bind(this),
      );
    }
  },
  methods: {
    copyURL(url) {
      var textArea = document.createElement('textarea');

      //
      // *** This styling is an extra step which is likely not required. ***
      //
      // Why is it here? To ensure:
      // 1. the element is able to have focus and selection.
      // 2. if the element was to flash render it has minimal visual impact.
      // 3. less flakyness with selection and copying which **might** occur if
      //    the textarea element is not visible.
      //
      // The likelihood is the element won't even render, not even a
      // flash, so some of these are just precautions. However in
      // Internet Explorer the element is visible whilst the popup
      // box asking the user for permission for the web page to
      // copy to the clipboard.
      //

      // Place in the top-left corner of screen regardless of scroll position.
      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;

      // Ensure it has a small width and height. Setting to 1px / 1em
      // doesn't work as this gives a negative w/h on some browsers.
      textArea.style.width = '2em';
      textArea.style.height = '2em';

      // We don't need padding, reducing the size if it does flash render.
      textArea.style.padding = 0;

      // Clean up any borders.
      textArea.style.border = 'none';
      textArea.style.outline = 'none';
      textArea.style.boxShadow = 'none';

      // Avoid flash of the white box if rendered for any reason.
      textArea.style.background = 'transparent';

      textArea.value = url;

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        // console.log('Copying text command was ' + msg);
      } catch (err) {
        // console.log('Oops, unable to copy');
      }

      document.body.removeChild(textArea);
    },
    determineDragAndDropCapable() {
      var div = document.createElement('div');
      return (
        ('draggable' in div || ('ondragstart' in div && 'ondrop' in div)) &&
        'FormData' in window &&
        'FileReader' in window
      );
    },
    submitFiles() {
      let formData = new FormData();
      for (var i = 0; i < this.files.length; i++) {
        let file = this.files[i];

        formData.append('files[' + i + ']', file);
      }
      axios
        .post('/field-style/image/upload', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
          onUploadProgress: function (progressEvent) {
            this.uploadPercentage = parseInt(
              Math.round((progressEvent.loaded * 100) / progressEvent.total),
            );
          }.bind(this),
        })
        .then((data) => {
          if (data) {
            this.value.push(data.data[0]);
            this.handlerSetGlobalProperty('images', this.value);
            this.files = [];
            this.uploadPercentage = 0;
          }
        })
        .catch(function () {
          this.files = [];
          this.uploadPercentage = 0;
        });
    },
    removeImage(id, index, event) {
      axios.post('/field-style/image/remove/' + id).then((data) => {
        this.value.splice(index, 1);
        this.handlerSetGlobalProperty('images', this.value);
      });
    },
  },
};
</script>