<template>
  <div>
    <select v-model="global_style">
      <option v-for="(option, index) in options" :key="index" :value="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
</template>

<script>
import { CSS_TYPE_SIZES, CSS_TYPE_SIZES_REGEX } from '.@/settings.js';
import EventBus from '../../event-bus';
export default {
  name: 'globalStyle',
  props: ['handlerGetGlobal', 'handlerGetGlobalProperty', 'handlerSetGlobalProperty'],
  data: () => ({
    global_style: '',
    toggle: 0,
    options: [],
  }),
  beforeMount() {
    this.setValue();
    this.setOptions();
  },
  methods: {
    setValue() {
      this.global_style = this.handlerGetGlobalProperty('global_style');
    },
    setOptions() {
      this.options = this.handlerGetGlobal('global_style');
    },
  },
  watch: {
    global_style: function (val) {
      this.handlerSetGlobalProperty('global_style', val);
    },
  },
};
</script>
