<template>
  <div class="tab" v-if="isActive">
    <slot v-if="isActive"></slot>
  </div>
</template>

<script>
export default {
  name: 'tab',
  props: {
    title: {
      type: String,
      default: 'Tab',
    },
    icon: {
      type: '',
    },
  },
  data() {
    return {
      isActive: true,
    };
  },
};
</script>
