<template>
  <div :class="'tabs__light ' + tab_class">
    <ul class="tabs__header">
      <li
        v-for="(tab, index) in tabs"
        :key="tab.title"
        @click="selectTab(index)"
        :class="{ tab__selected: index == selectedIndex }"
      >
        <span v-if="!tab.icon">{{ tab.title }}</span>
        <img :src="tab.icon" v-if="tab.icon" width="15" :alt="tab.title" />
      </li>
    </ul>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'tabs',
  props: ['tab_class', 'icon'],
  data() {
    return {
      selectedIndex: 0,
      tabs: [],
    };
  },
  created() {
    this.tabs = this.$children;
  },
  mounted() {
    this.selectTab(0);
  },
  methods: {
    selectTab(i) {
      this.selectedIndex = i;

      // loop over all the tabs
      this.tabs.forEach((tab, index) => {
        tab.isActive = index === i;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.tabs__light {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul.tabs__header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  border-bottom: 0px solid #a6a6a6;
}

.level-1 {
}
.level-2 {
  ul.tabs__header {
    justify-content: flex-end;
  }
}

ul.tabs__header > li {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #0074bd;
  text-align: center;
  border-bottom-color: #a6a6a6;
  margin: 0;
  border: 1px solid #bfbfbf;
  background: rgba(242, 242, 240, 0.7);
  border-right: 0;
  &:last-child {
    border-right: 1px solid #bfbfbf;
  }
  img {
    margin-left: 5px;
  }
}
.tabs__light.level-1 .tabs__header > li {
  font-size: 12px;
  padding: 7px 2em 7px 2em;
  border-radius: 4px 4px 0 0;
}
.tabs__light.level-2 .tabs__header > li {
  font-size: 10px;
  padding: 4px 2em 4px 2em;
  border-radius: 3px 3px 0 0;
}
.tabs__light.level-3 .tabs__header > li {
  font-size: 9px;
  padding: 1px 2em 1px 2em;
  border-radius: 2px 2px 0 0;
}

ul.tabs__header > li.tab__selected {
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  border-bottom-color: #fff;
  color: #004f80;
  color: #004f80;
  border-color: #a6a6a6;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.tab {
  display: inline-block;
  color: black;
  padding: 0;
  width: 100%;
}

.tabs__light .tab {
  background-color: #fff;
}

.tabs__light li {
  background-color: #ddd;
  color: #000000;
}

.tabs__light li.tab__selected {
  background-color: #fff;
  font-weight: bold;
}
</style>
